html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    box-sizing: border-box;
    font-size: 62.5%; 
}

.contenedor {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #554be9;
    color: white;
    padding: 1.5rem 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

header nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
	padding: 0;
}

header nav a {
	text-decoration: none;
	color: inherit;
	font-weight: 600;
	transition: color 0.3s;
}

header nav a:hover {
	color: #ffd54f;
}

main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #f4f7f6;
}

footer {
	background-color: #3f51b5;
	color: white;
	padding: 1.5rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

form {
	background-color: white;
	padding: 4rem;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 90%;
	max-width: 400px;
	transition: all 0.3s ease-in-out;
}

form:hover {
	transform: translateY(-3px);
}

label {
	font-size: 1.6rem;
	color: #333;
	font-weight: 600;
}

input[type="email"], input[type="password"] {
	padding: 1.2rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1.6rem;
	transition: border-color 0.3s;
}

input[type="email"]:focus, input[type="password"] {
	border-color: #3f51b5;
	outline: none;
}

button[type="submit"] {
	background-color: #3f51b5;
	color: white;
	padding: 1.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 700;
	transition: background-color 0.3s, transform 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
	background-color: #303f9f;
	transform: scale(1.02);
}

main > form > p {
	text-align: center;
	margin-top: 1rem;
	color: #d32f2f;
    font-size: 1.4rem; 
    font-weight: 600;
}



















